<h1>An Adventure Tale About Coding Graduates</h1>
<p>Three hilarious and incredibly good-looking code graduates go out looking for jobs.
  There names are @Model.NameOne, @Model.NameTwo, and @(Model.NameThree).</p>
<br />
<p>The first graduate @Model.NameOne, takes a job at @Model.CompanyOne, and finds out it was not what they were
  expecting.</p>
<p>In fact it was @(Model.JobOneAdj).</p>
<br />
<p>The second graduate @Model.NameTwo, takes a job at @Model.CompanyTwo, and finds out it was not what they were
  expecting.</p>
<p>In fact it was @(Model.JobTwoAdj).</p>
<br />
<p>The third graduate @Model.NameThree, takes a job at @Model.CompanyThree, and finds out it was not what they were
  expecting.</p>
<p>In fact it was @(Model.JobThreeAdj).</p>
<br />
<p>They were all glad for their experience at Epicodus however, because even this was nothing compared to
  @(Model.BootCamp).</p>